h1 {
    font-size: 4vw;
    /* Use viewport width for font size */
    font-weight: bold;
    color: #3498db;
}

h2 {
    font-size: 2.5vw;
    /* Larger font size for section headers */
    color: #bbb;
    margin-bottom: 2vh;
}

p {
    font-size: 1.8vw;
    /* Use viewport width for font size */
    color: #bbb;
}