{% extends "sentiment/base.html" %}
{% load static %}
{% block title %}NBA Sentiment Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'sentiment/css/home.css' %}">
{% endblock %}

{% block content %}

<h1>Welcome to NBA Sentiment</h1>
<p>Explore the pulse of NBA teams and dive into how fans perceive their performance.</p>
<p>Curious about how we calculate fan sentiment ratings? Uncover the details in our About section!</p>
<div class="row justify-content-center">
    <div class="col-6">
        <div class="search-bar">
            <form method="post" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="teams_name" placeholder="Search for a team..."
                        aria-label="Team Name" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% if text %}
<p>You searched for: {{ text }}</p>
{% endif %}

{% if teams_results %}
<p>Select from the Search Results:</p>
<ul>
    {% for team in teams_results %}
    <li>
        <label>
            <input type="radio" name="selected_team" value="{{ team.full_name }}">
            {{ team.full_name }}
        </label>
    </li>
    {% endfor %}
</ul>
{% endif %}


<form method="post" action="{% url 'analyze_sentiment' %}" id="analyzeSentimentForm">
    {% csrf_token %}
    <input type="hidden" name="selected_team" id="selectedTeamInput" value="">
    <button type="button" class="btn btn-primary btn-lg" onclick="performSearch()" id="analyze-btn">Analyze
        Sentiment</button>
</form>

{% load static %}
<img src="{% static 'sentiment/nbaSentimentLogo.png' %}" alt="NBA Sentiment Logo">

<script>
    function performSearch() {
        var selectedTeam = document.querySelector('input[name="selected_team"]:checked');
        if (selectedTeam) {
            document.getElementById('selectedTeamInput').value = selectedTeam.value;
            document.getElementById('analyzeSentimentForm').submit();
        } else {
            alert('Please select a team.');
        }
    }
</script>
{% endblock %}