<!-- sentiment/templates/sentiment/rankings.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rankings</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&display=swap">
    {% load static %}
    <link rel="stylesheet" href="{% static 'sentiment/css/main_screens.css' %}">

    <style>
        table {
            width: 80%;
            margin: 2% auto;
            border-collapse: collapse;
            border: 2px solid #3498db;
        }

        th,
        td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #3498db;
        }

        th {
            background-color: #3498db;
            color: #fff;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2f2;
            color: #1a1a1a;
        }
    </style>
    <script>
        // Get the current path
        var currentPath = window.location.pathname;

        // Select the corresponding navigation item based on the path
        document.addEventListener("DOMContentLoaded", function () {
            var navItems = document.querySelectorAll('nav a');
            navItems.forEach(function (item) {
                // Compare the path parts of the current URL and item's href
                if (item.getAttribute('href') === currentPath) {
                    item.classList.add('selected');
                }
            });
        });
    </script>
</head>

<body>
    {% include 'navbar.html' %}
    <h1>Team Sentiment Rankings</h1>
    <p>Rankings Last Updated: {{ last_update_time }}</p>
    <p>Based on Last 7 Days</p>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Team Name</th>
                <th>Sentiment Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for team_sentiment in team_sentiments %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ team_sentiment.team_name }}</td>
                <td>{{ team_sentiment.avg_compound_score }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>