<!-- sentiment/templates/sentiment/analyze_sentiment.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
</head>

<body>
    <h1>Sentiment Analysis</h1>

    <form method="post" action="{% url 'analyze_sentiment' %}">
        {% csrf_token %}
        <label for="text">Enter text:</label>
        <textarea name="text" rows="4" cols="50" required></textarea>
        <br>
        <button type="submit">Analyze Sentiment</button>
    </form>

    {% if text %}
    <h2>Analysis Result:</h2>
    <p>Text: {{ text }}</p>
    <p>Positive Score: {{ sentiment_scores.pos }}</p>
    <p>Neutral Score: {{ sentiment_scores.neu }}</p>
    <p>Negative Score: {{ sentiment_scores.neg }}</p>
    <p>Compound Score: {{ sentiment_scores.compound }}</p>
    {% if sentiment_scores.compound > 0.3 %}
    <p style="font-size: 24px; color: green;">GOOD</p>
    {% elif sentiment_scores.compound < -0.3 %} <p style="font-size: 24px; color: red;">BAD</p>
        {% else %}
        <p style="font-size: 24px; color: blue;">NEUTRAL</p>
        {% endif %}
        {% endif %}
</body>

</html>