{% extends "sentiment/base.html" %}

{% block title %}Team View{% endblock %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'sentiment/css/sentiment_analysis.css' %}">
{% endblock %}
{% block content %}

<h1>{{ team }} Sentiment</h1>

<h2>Analysis Result:</h2>
<p>Fan Sentiment: {{ score }}% support</p>
{% if score > 75 %}
<p style="font-size: 3vw; color: #00ff6a;">Very Positive! 🔥</p>
{% elif score > 60 %}
<p style="font-size: 3vw; color: #6aff6f;">Positive 👍</p>
{% elif score > 50 %}
<p style="font-size: 3vw; color: #3498db;">Neutral 🤷</p>
{% elif score > 25 %}
<p style="font-size: 3vw; color: #ff6a59;">Negative 👎</p>
{% else %}
<p style="font-size: 3vw; color: #ff1900;">Very Negative! 🗑️</p>
{% endif %}

{% endblock %}